<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level2</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level3</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level4</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level5</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level6</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
