<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level11</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level12</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level13</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level14</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level15</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level19</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level21</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level22</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level23</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level24</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level29</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level31</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level32</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level33</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level34</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level35</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level36</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level39</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level41</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level42</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level43</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
	<key>level49</key>
	<dict>
		<key>stars</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
